#calculator {
  margin: auto;
  margin-top: -7px; 
  border-radius: 0.5px;
  border: 1px solid;
  height: 667px;
  width: 375px;
  background-color: lightslategray;
  text-align: center;
}


#title {
  line-height: 10px;
  font-family: 'Palatino Linotype', sans-serif;
  font-size: 35px;
  margin-left: 10px;
  
}

#screen {
  padding-right: 15px;
  padding-bottom: 0.1px;
  line-height: 1px;
  background-color: greenyellow;
  text-align: right;
  font-size: 40px;
  font-family: 'Palatino Linotype';
  margin-bottom: 20px;
  margin-top: -10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}



#output {
  padding-top: 40px;
  margin-top: 50px;
}

#stored {
  padding-bottom: 1px;
  font-size: 30px;
}

button {
  margin: 3px;
  border-radius: 100px;
  border: 0;
  height: 80px;
  width: 80px;
  outline: none;
  font-size: 30px;
  font-family: 'Palatino Linotype', sans-serif;
  box-shadow: 0px 2px #222;

}

button:active {
  transform: translateY(1px);
  box-shadow: none;
}

.operators {
  border-color: #666;
  background-color: darkgray;
  color: white;
}

.numbers {
  border-color: #000;
  background-color: #000;
  color: white;
}

#clearbtn {
  border-color: #ff0000;
  background-color: indianred;
  color: white;
}

#decimalbtn {
  width: 80px;
}

#equalsbtn {
  margin-right: 3px;
  height: 80px;
  width: 80px;
  
}
.sticker {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 3px 3px;
  border-radius: 100px;
  margin-bottom: -15px;
  margin-top: 15px;
  margin-right: -40px;
}

#coding {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(slateblue, aqua);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  animation: animation 2s infinite linear;
  
    
}

@keyframes animation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}



